<!-- The About Us page -->
<div class="col-10 about">
  <h1>About Splurty</h1>
  <p>Splurty was rebuilt by <a target="_blank" href="www.linkedin.com" >Laur dArmien</a>. It was designed by <a target="_blank" href="http://github.com/MarcoMorawec">Marco</a> & <a target="_blank" href="http://github.com/KenMazaika">Ken</a>. </p>
  <p>Laur is on a mission to rebuild herself for her next life as a web developer or more qualified technical writer, returning to work in January of 2020.</p>
  <p> If you want to learn how to code, too, start with the <a target="_blank" href="https://online.bootcampspot.com">Berkeley Coding Bootcamp.</a></p>
  </div>

<div class="row">
  <div class="col-12 col-sm-4">
    <%= image_tag 'horses.pasture.jpeg', class: 'img-fluid' %>
    </div>
  <div class="col-12 col-sm-6 about">
    <h2>Laur dArmien</h2>
    <p>Laur is a budding web application developer. She is adding these skills to a successful career in technical writing.</p>
    </div>
  </div>
<br class="clear" />

